@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 20, 20, 30;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

/* Animation keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes glow {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

/* Apply animations */
.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.animate-fade-left {
  animation: fade-left 1s ease-out forwards;
}

.animate-fade-right {
  animation: fade-right 1s ease-out forwards;
}

.animate-glow {
  animation: glow 1.5s ease-out forwards;
}

.text-edge-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}